<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>电影名称</td>
                <td>电影评分</td>
                <td>电影URL</td>
                <td>电影海报</td>
            </tr>
        </thead>
        <tbody>
            {% for row in movies %}
                <tr>
                    <td>{{ row.title }}</td>
                    <td>{{ row.rate }}</td>
                    <td>{{ row.url }}</td>
                    <td>{{ row.cover }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

</body>
</html>